<h3>Создать новый список</h3><br/>
<?php if( Session::get('email')){ ?>
<form method="post" action="">

    <input type="hidden" name="user_id" value="<?=Session::get('id') ?>" />
    <div class="form-group">
        <label for="title">Название</label>
        <input type="text" id="title" name="title" class="form-control" />
    </div>


    <input type="submit" class="btn btn-success" />
    <?php } else { Router::redirect('/users/login/');} ?>
</form>