<h3>Edit List</h3><br/>
<?php if( Session::get('email')){ ?>
<?php if( Session::get('id') != $data['lists']['id']){ ?>
<form method="post" action="">
    <input type="hidden" name="id" value="<?=$data['list']['id']?>" />
    <div class="form-group">
        <label for="title">Название</label>
        <input type="text" id="title" name="title" value="<?=$data['list']['title']?>" class="form-control" />
    </div>


    <input type="submit" class="btn btn-success" />
    <?php } else { Router::redirect('/items/');} ?>
    <?php } else { Router::redirect('/users/login/');} ?>
</form>