<head>
    <title><?=Config::get('site_name')?></title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>My ToDo list</title>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/items/">To-Do</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <?php if( Session::get('email')){ ?>
            <?php if( Session::get('role') == 1){ ?>

            <li class="nav-item">
                <a class="nav-link" href="/admin/">Admin</a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" href="/admin/users/list/">Users list</a>
            </li>

            <?php } ?>

            <li class="nav-item active">
                <a class="nav-link" href="#"><?php echo Session::get('email') ?> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/logout/">Logout</a>
            </li>

            <?php }else{ ?>

            <li class="nav-item">
                <a class="nav-link" href="/users/login/">Login</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/users/register/">Register</a>
            </li>

            <?php } ?>

        </ul>

    </div>
</nav>

<?php if( Session::hasFlash() ){ ?>
<div class="alert alert-info" role="alert">
    <?php Session::flash(); ?>
</div>
<?php } ?>