<div class="container">

    <h1>To-do</h1>
    <?php if ( Session::get('email') ) { ?>
    <?php if(!empty($data['tasks'])) { ?>


    <ul class="list-group">

        <?php foreach($data['lists'] as $list): ?>



        <li class="list-group-item"><?php echo ($list['title']); ?>

            <a href="/lists/edit/<?=$list['id']?>" class="btn btn-outline-info">Edit</a>

            <a href="/lists/delete/<?=$list['id']?>" class="btn btn-danger">Delete</a>

        </li>

        <?php foreach($data['tasks'] as $task): ?>

        <?php if ( $task['list_id'] == $list['id'] ): ?>

        <li class="list-group-item <?php echo $task['done'] ? ' list-group-item-success' : ' list-group-item-primary'?>"> <?php echo ($task['name']); ?>

            <a href="/items/mark/<?=$task['id']?>" class="btn btn-outline-success">Mark</a>

            <a href="/items/edit/<?=$task['id']?>" class="btn btn-outline-info">Edit</a>

            <a href="/items/delete/<?=$task['id']?>" class="btn btn-danger">Delete</a>
        </li>

        <?php endif; ?>

        <?php endforeach; ?>
        <form action="/items/add" method="post">
            <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="Введите Заметку">
                <input type="hidden" name = "list_id" value="<?=$list['id']?>">
                <button type="submit" class="btn btn-primary">Добавить</button>
            </div>
        </form>



        <?php endforeach; ?>

    </ul>

    <?php }else { ?>

    <h1>Нет заданий</h1>

    <?php } ?>
    <a href="/lists/create/" class="btn btn-success btn-lg btn-block">Создать новый списк</a>


    <?php } else{ Router::redirect('/users/login/');}?>
</div>