<h3>Edit task</h3><br/>
<?php if( Session::get('email')){ ?>

<form method="post" action="">
    <input type="hidden" name="id" value="<?=$data['task']['id']?>" />
    <div class="form-group">
        <label for="name">Задача</label>
        <input type="text" id="name" name="name" value="<?=$data['task']['name']?>" class="form-control" />
    </div>


    <input type="submit" class="btn btn-success" />

    <?php } else { Router::redirect('/users/login/');} ?>
</form>
