<div class="container">

    <table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Email</th>
            <th scope="col">Is admin</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach($data['users'] as $user): ?>
        <tr class=" <?php echo $user['status'] ? ' ' : ' table-secondary'?>">
            <th  scope="row"><?=$user['id']?></th>
            <td><?=$user['email']?></td>
            <td><?=$user['is_admin']?>
                <a href="/users/toggleAdmin/<?=$user['id']?>" class=" <?php echo $user['is_admin'] ? ' btn btn-success' : ' btn btn-outline-success'?>"> Админ</a>
            </td>
            <td><?=$user['status']?>
                <a href="/users/toggleStatus/<?=$user['id']?>" class="btn btn-outline-info">Активировать</a>
            </td>
        </tr>
        <?php endforeach; ?>
        </tbody>
    </table>

</div>