<h3>Вастоновление пароля</h3><br/>
<?php if( Session::get('email') == true){Router::redirect('/items/'); ?>

<?php } else {  ?>
<form method="post" action="">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" class="form-control" />
    </div>

    <input type="submit" class="btn btn-success" />

</form>

<?php }  ?>