<h3>Login</h3><br/>
<?php if( Session::get('email') == true){Router::redirect('/items/'); ?>

<?php } else {  ?>
<form method="post" action="">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" class="form-control" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" />
    </div>
    <p><a href="/users/forgot_password/" class="text-primary">Забыл пароль?</a></p>
    <input type="submit" class="btn btn-success" />

</form>

<?php }  ?>