<h3>Вастоновление пароля</h3><br/>

<?php if( Session::get('email') == null){ ?>
<form method="post" action="">

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" />
    </div>

    <div class="form-group">
        <label for="repeat-password">Repeat Password</label>
        <input type="password" id="repeat-password" name="repeat-password" class="form-control" />
    </div>

    <input type="submit" class="btn btn-success" />

</form>

<?php } else { Router::redirect('/items/'); ?>


<?php }  ?>